.header{
  &__top{
    display: flex;
    justify-content: space-between;
    padding: 20px 187px;
    .logo__start{
      font-family: "Yeseva One";
      font-weight: 400;
      color: $primary;
      text-transform: uppercase;
      font-size: 36px;
    }
    .logo__end{
      color: $secondary;
    }
    &__list{
      width: 620px;
      display: flex;
      gap: 20px;
      &__item{
        display: flex;
        img{
          width: 30px;
        }
        &__text{
            font-family: "Work sans";
            font-weight: 500;
            font-size: 16px;
          .header__text__top{
            color: $primary;
          }
          .header__text__bottom{
            color: $secondary;
          }
        }
      }
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px 187px;
    background-color: $primary;
    align-items: center;
    &__menu{
      display: flex;
      font-family: "Work sans";
      font-weight: 400;
      font-size: 18px;
      justify-content: space-between;
      gap: 20px;
      &__text{
        color: $white;
        text-decoration: none;
      }
    }
    &__poisk{
      display: flex;
      justify-content: space-between;
      gap: 10px;
      img{
      width: 20px;
    }
      &__clik{
      background-color: $accent;
      color: $primary;
      font-family: "Work sans";
      font-weight: 500;
      font-size: 16px;
      width: 173px;
      height: 45px;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    }
  }
}