.header{
  &__top{
    display: flex;
    justify-content: space-between;
    padding: 20px 187px;
    .logo__start{
      font-family: "Yeseva One";
      font-weight: 400;
      color: $primary;
      text-transform: uppercase;
      font-size: 36px;
    }
    .logo__end{
      color: $secondary;
    }
    &__list{
      width: 620px;
      display: flex;
      gap: 20px;
      &__item{
        display: flex;
        img{
          width: 40px;
        }
        &__text{
            font-family: "Work sans";
            font-weight: 500;
            font-size: 16px;
          .header__text__top{
            color: $primary;
          }
          .header__text__bottom{
            color: $secondary;
          }
        }
      }
    }
  }
}