.f5{
    position: relative;
    top: 2250px;
    &__im{
        position: relative;
        img{
            position: absolute;
            width: 100%;
        }
    }
    &__inside{
        display: flex;
        gap: 94px;
        padding: 0 187px;
        &__text{
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 230px;
            h2{
                font-family: "Yeseva One";
                font-weight: 500;
                font-size: 32px;
                color: $secondary;
            } 
            span{
                width: 450px;
                height: 110px;
                font-family: "Work sans";
                font-weight: 400;
                font-size: 16px;
                color: $black;
            }
        }
        form{
            display: flex;
            flex-wrap: wrap;
            width: 481px;
            height: 445px;
            margin-left: 500px;
            margin-top: -300px;
            font-family: 'Work sans';
            font-size: 16px;
            font-weight: 200;
            font-size: 0;
            .form{
                display: flex;
                flex-wrap: wrap;
                width: 495px;
               input, select{
                display: flex;
                flex-wrap: wrap;
                width: 245px;
                height: 50px;
                border: 1px solid $white;
                color: $white;
                background-color: $primary;
                padding-left: 10px;
                }
                input:hover{
                    transition: 0.5s;
                    background-color: $accent;
                    color: $black;
                }
                select:hover{
                    transition: 0.5s;
                    background-color: $accent;
                    color: $black;
                }
            }
            textarea{
                font-family: 'Work sans';
                font-size: 10px;
                font-weight: 400;
                color: $white;
                background-color: $primary;
                width: 491px;
                height: 190px;
                padding-left: 10px;
                padding-top: 10px;
            }
            textarea:hover{
                transition: 0.5s;
                background-color: $accent;
                color: $black;
            }
            button{
                width: 491px;
                height: 50px;
                background-color: $accent;
                text-transform: uppercase;
                color: $primary;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
            }
        }
    }
}