.f3{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    top: 1200px;
    &__tx1{
        position: absolute;
        h3{
            font-family: 'Work sans';
            font-weight: 700;
            font-size: 20px;
            color: $secondary;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin-top: 450px;
            margin-bottom: 8px;
        }
        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Yeseva One';
            font-weight: 400;
            font-size: 38px;
            color: $primary;
            margin-bottom: 64px;
        }
    }
    &__service{
        width: 992px;
        position: absolute;
        display: flex;
        margin-top: 1064px;
        &__spisok{
        display: flex;
        flex-direction: column;
        width: 157px;
        border: 0.5px solid $accent;
        border-radius: 5px;
        margin-right: 20px;
            &__all{
                display: flex;
                height: 50px;
                background-color: $primary;
                color: $accent;
                align-items: center;
                justify-content: center;
                font-family: 'Work sans';
                font-weight: 400;
                font-size: 13px;
            }
            &__all:hover{
                background-color: $secondary;
                transition: 0.5s;
            }
            &__1{
                color: $black;
                font-family: 'Work sans';
                font-weight: 400;
                font-size: 15px;
                img{
                    width: 32px;
                    height: 32px;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 108px;
                gap: 8px;
                .m{
                    height: 28px;
                }
                .im{
                    height: 40px;
                }
            }
            &__1:hover{
                background-color: $primary;
                transition: 0.7s;
                color: $white;
            }
        }
        &__text{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 480px;
            width: 470px;
            color: $black;
            font-family: 'Work sans';
            h4{
                display: flex;
                margin:24px 0;
                font-weight: 500;
                font-size: 27px;
            }
            p{
                font-weight: 400;
                font-size: 16px;
            }
            .f{
                img{
                    height: 16px;
                    width: 16px;
                }
                display: flex;
                width: 500px;
                height: 160px;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 16px;
                .str{
                    display: flex;
                    height: 30px;
                    span{
                        display: flex;
                        font-weight: 400;
                        font-size: 20px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
