<div class="f6">
    <div class="f6__tx">
        <h3 id="doctors">Trusted Care</h3>
        <h1>Our Doctors</h1>
    </div>
    <div class="f6__anketa">
        <div class="doctor">
            <img src="../../../assets/img/anketa1.png" alt="">
            <div class="doctor__text">
                <p>Doctor’s Name</p>
                <h4>Neurology</h4>
                <div class="doctor__text__img">
                    <img src="../../../assets/img/in.png" alt="">
                    <img src="../../../assets/img/facebook.png" alt="">
                    <img src="../../../assets/img/instagram.png" alt="">
                </div>
            </div>
            <div class="view">
                <p>View Profile</p>
            </div>
        </div>
        <div class="doctor">
            <img src="../../../assets/img/anketa2.png" alt="">
            <div class="doctor__text">
                <p>Doctor’s Name</p>
                <h4>Neurology</h4>
                <div class="doctor__text__img">
                    <img src="../../../assets/img/in.png" alt="">
                    <img src="../../../assets/img/facebook.png" alt="">
                    <img src="../../../assets/img/instagram.png" alt="">
                </div>
            </div>
            <div class="view">
                <p>View Profile</p>
            </div>
        </div>
        <div class="doctor">
            <img src="../../../assets/img/anketa3.png" alt="">
            <div class="doctor__text">
                <p>Doctor’s Name</p>
                <h4>Neurology</h4>
                <div class="doctor__text__img">
                    <img src="../../../assets/img/in.png" alt="">
                    <img src="../../../assets/img/facebook.png" alt="">
                    <img src="../../../assets/img/instagram.png" alt="">
                </div>
            </div>
            <div class="view">
                <p>View Profile</p>
            </div>
        </div>
        <div class="f6__anketa__tochki">
            <img src="../../../assets/img/accent.png" alt="">
            <img src="../../../assets/img/primary.png" alt="">
            <img src="../../../assets/img/accent.png" alt="">
        </div>
    </div>
    <div class="f6__tx1">
        <h3 id="news"> Better information, Better health</h3>
        <h1>News</h1>
    </div>
    <div class="f6__anketa2">
        <div class="f6__anketa2__like">
            <img src="../../../assets/img/anketa21.png" alt="">
            <div class="f6__anketa2__like__text">
                <h5>Monday 05, September 2021 | By Author</h5>
                <p class="ap">This Article’s Title goes Here, but not too long.</p>
                <div class="reaction">
                    <div class="glas">
                        <img src="../../../assets/img/glas.png" alt="">
                        <p>68</p>
                    </div>
                    <div class="likee">
                        <img src="../../../assets/img/serdche.png" alt="">
                        <p>86</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="f6__anketa2__like">
            <img src="../../../assets/img/anketa21.png" alt="">
            <div class="f6__anketa2__like__text">
                <h5>Monday 05, September 2021 | By Author</h5>
                <p class="ap">This Article’s Title goes Here, but not too long.</p>
                <div class="reaction">
                    <div class="glas">
                        <img src="../../../assets/img/glas.png" alt="">
                        <p>68</p>
                    </div>
                    <div class="likee">
                        <img src="../../../assets/img/serdche.png" alt="">
                        <p>86</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="f6__anketa2__like">
            <img src="../../../assets/img/anketa21.png" alt="">
            <div class="f6__anketa2__like__text">
                <h5>Monday 05, September 2021 | By Author</h5>
                <p class="ap">This Article’s Title goes Here, but not too long.</p>
                <div class="reaction">
                    <div class="glas">
                        <img src="../../../assets/img/glas.png" alt="">
                        <p>68</p>
                    </div>
                    <div class="likee">
                        <img src="../../../assets/img/serdche.png" alt="">
                        <p>86</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="f6__anketa2__like">
            <img src="../../../assets/img/anketa21.png" alt="">
            <div class="f6__anketa2__like__text">
                <h5>Monday 05, September 2021 | By Author</h5>
                <p class="ap">This Article’s Title goes Here, but not too long.</p>
                <div class="reaction">
                    <div class="glas">
                        <img src="../../../assets/img/glas.png" alt="">
                        <p>68</p>
                    </div>
                    <div class="likee">
                        <img src="../../../assets/img/serdche.png" alt="">
                        <p>86</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tochki1">
            <img src="../../../assets/img/accent.png" alt="">
            <img src="../../../assets/img/primary.png" alt="">
            <img src="../../../assets/img/accent.png" alt="">
        </div>
    </div>
</div>