<div class="f6">
    <div class="f6__tx">
        <h3>Trusted Care</h3>
        <h1>Our Doctors</h1>
    </div>
    <div class="f6__anketa">
        <div class="doctor">
            <img src="../../../assets/img/anketa1.png" alt="">
            <div class="doctor__text">
                <p>Doctor’s Name</p>
                <h4>Neurology</h4>
                <div class="doctor__text__img">
                    <img src="../../../assets/img/in.png" alt="">
                    <img src="../../../assets/img/facebook.png" alt="">
                    <img src="../../../assets/img/instagram.png" alt="">
                </div>
            </div>
            <div class="view">
                <spp>View Profile</p>
            </div>
        </div>
    </div>
</div>