<header class="header">
  <div class="header__top">
    <h3 class="logo__start">Med<span class="logo__end">dical</span></h3>
    <div class="header__top__list">
      <div class="header__top__list__item">
        <img class="im1" src="../../../assets/img/phone.svg" alt="phone">
        <div class="header__top__list__item__text">
          <h4 class="header__text__top">Emergency</h4>
          <h4 class="header__text__bottom">(237) 681-812-255</h4>
        </div>
      </div>
      <div class="header__top__list__item">
        <img src="../../../assets/img/clock.svg" alt="clock">
        <div class="header__top__list__item__text">
          <h4 class="header__text__top">Work Hour</h4>
          <h4 class="header__text__bottom">09:00 - 20:00 Everyday</h4>
        </div>
      </div>
      <div class="header__top__list__item">
        <img src="../../../assets/img/location.svg" alt="location">
        <div class="header__top__list__item__text">
          <h4 class="header__text__top">Location</h4>
          <h4 class="header__text__bottom">0123 Some Place</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom__menu">
      <a class="header__bottom__menu__text" href="#">Home</a>
      <a class="header__bottom__menu__text" href="#">About us</a>
      <a class="header__bottom__menu__text" href="#">Services</a>
      <a class="header__bottom__menu__text" href="#">Doctors</a>
      <a class="header__bottom__menu__text" href="#">News</a>
      <a class="header__bottom__menu__text" href="#">Contact</a>
    </div>
    <div class="header__bottom__poisk">
      <img src="../../../assets/img/lypa.svg" alt="lypa">
     <div class="header__bottom__poisk__clik">Appointment</div>
    </div>
  </div>
</header>