<div class="f2">
    <div class="f2__im">
        <img src="../../../assets/img/doctor.png" alt="#">
        <img class="img2" src="../../../assets/img/cryg.png" alt="#">
        <img src="../../../assets/img/doctor2.png" alt="#">
    </div>  
    <div class="f2__text">
        <h3 class="f2__text__top">Caring for Life</h3>
        <h1 class="f2__text__bottom">Leading the Way<br>in Medical Excellence</h1>
        <div class="f2__text__but">Our Services</div>
    </div>
    <div class="f2__book">
        <div class="f2__book__1">
            <p>Book an Appointment</p>
            <img class="im1" src="../../../assets/img/calendar.png" alt="#">
        </div>
        <div class="f2__book__2">
            <p>Book an Appointment</p>
            <img class="im2" src="../../../assets/img/people.png" alt="#">
        </div>
        <div class="f2__book__3">
            <p>Book an Appointment</p>
            <img class="im3" src="../../../assets/img/cash.png" alt="#">
        </div>
    </div>
    <div class="f2__text1">
        <h3>Welcome to Meddical</h3>
        <h1>A Great Place to Receive Care</h1>
        <span class="p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</span>
        <div class="f2__text1__lm">
            <p class="f2__text1__lm__tx">Learn More</p>
            <img src="../../../assets/img/Vector.png" alt="#">
        </div>
    </div>
</div>