<div class="f5">
    <div class="f5__im">
        <img src="../../../assets/img/neger.png" alt="#">
        <img src="../../../assets/img/whiteneger.png" alt="#">
    </div>
    <div class="f5__inside">
        <div class="f5__inside__text">
            <h2>Book an Appointment</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</span>
            <form action="">
                <div class="form">            
                    <input type="text" name="Name" value="Name">
                    <select name="gender" id="gender">
                        <option value="Gender">Gender</option>
                        <option value="volvo">Вольво</option>
                        <option value="saab">Сааб</option>
                        <option value="fiat">Фиат</option>
                        <option value="audi">Ауди</option>
                    </select>
                    <input type="text" name="email" value="Email">
                    <input type="text" name="Phone" value="Phone">
                    <input type="date" id="date" name="date" value="Date" min="2025-02-01" max="2025-06-30" />
                    <input type="time" id="start" name="time" value="Time" min="9-00" max="20-00" />
                    <select name="doctor" id="doctor">
                        <option value="Doctor">Doctor</option>
                        <option value="volvo">Вольво</option>
                        <option value="saab">Сааб</option>
                        <option value="fiat">Фиат</option>
                        <option value="audi">Ауди</option>
                    </select>
                    <select name="departament" id="departament">
                        <option value="Departament">Departament</option>
                        <option value="volvo">Вольво</option>
                        <option value="saab">Сааб</option>
                        <option value="fiat">Фиат</option>
                        <option value="audi">Ауди</option>
                    </select>
                    <textarea name="message" id="message">Message</textarea>
                    <button name="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>