<div class="f5">
    <div class="f5__im">
        <img src="../../../assets/img/neger.png" alt="#">
        <img src="../../../assets/img/whiteneger.png" alt="#">
    </div>
    <div class="f5__inside">
        <div class="f5__inside__text">
            <h2>Book an Appointment</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</span>
        </div>
    </div>
</div>