<div class="f3">
    <img src="../../../assets/img/doctors.png" alt="#">
    <div class="f3__tx1">
        <h3>Care you can believe in</h3>
        <h1>Our Services</h1>
    </div>
    <div class="f3__service">
        <div class="f3__service__spisok">
            <div class="f3__service__spisok__1">
                <img class="i" src="../../../assets/img/plastr.png" alt="#">
                <p>Free Checkup</p>
            </div>
            <div class="f3__service__spisok__1">
                <img class="m" src="../../../assets/img/hurt.png" alt="#">
                <p>Cardiogram</p>
            </div>
            <div class="f3__service__spisok__1">
                <img  class="g" src="../../../assets/img/crest.png" alt="#">
                <p>Dna Testing</p>
            </div>
            <div class="f3__service__spisok__1">
                <img class="im" src="../../../assets/img/kap.png" alt="#">
                <p>Blood Bank</p>
            </div>
            <div class="f3__service__spisok__all">
                <p>View All</p>
            </div>
        </div>
        <div class="f3__service__text">
            <h4>A passion for putting patients first.</h4>
            <div class="f">
                <div class="str">
                    <img src="../../../assets/img/pynkt.png" alt="#">
                    <span>A Passion for Healing</span>
                </div>
                <div class="str">
                    <img src="../../../assets/img/pynkt.png" alt="#">
                    <span>All our best</span>
                </div>
                <div class="str">
                    <img src="../../../assets/img/pynkt.png" alt="#">
                    <span>A Legacy of Excellence</span>
                </div>
                <div class="str">
                    <img src="../../../assets/img/pynkt.png" alt="#">
                    <span>5-Star Care</span>
                </div>
                <div class="str">
                    <img src="../../../assets/img/pynkt.png" alt="#">
                    <span>Believe in Us</span>
                </div>
                <div class="str">
                    <img src="../../../assets/img/pynkt.png" alt="#">
                    <span>Always Caring</span>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Quisque placerat scelerisque tortor ornare ornare Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque. Convallis felis vitae tortor augue. Velit nascetur proin massa in.</p>
            <div class="f3__service__text__im">
                <img src="../../../assets/img/ykol.png" alt="#">
                <img src="../../../assets/img/doctors2.png" alt="#">
            </div>
        </div>
    </div>
</div>