<div class="f4">
    <div class="f4__tx1">
        <h3>Always Caring</h3>
        <h1>Our Specialties</h1>
    </div>
    <table>
        <tr>
            <td class="tab"><div class="df"><img src="../../../assets/img/hurr.png" alt="#"><span>Neurology</span></div></td>
            <td class="tab"><div class="df"><img src="../../../assets/img/hurr.png" alt="#"><span>Bones</span></div></td>
            <td class="tab"><div class="df"><img src="../../../assets/img/hurr.png" alt="#"><span>Oncology</span></div></td>
            <td class="tab"><div class="df"><img src="../../../assets/img/hurr.png" alt="#"><span>Otorhinolaryngology</span></div></td>
        </tr>
        <tr>
            <td class="tab"><div class="df"><img src="../../../assets/img/hurr.png" alt="#"><span>Ophthalmology</span></div></td>
            <td class="tab"><div class="df"><img src="../../../assets/img/hurr.png" alt="#"><span>Cardiovascular</span></div></td>
            <td class="tab"><div class="df"><img src="../../../assets/img/hurr.png" alt="#"><span>Pulmonology</span></div></td>
            <td class="tab"><div class="df"><img src="../../../assets/img/hurr.png" alt="#"><span>Renal Medicine</span></div></td>
        </tr>
        <tr>            
            <td class="tab"><div class="df"><img src="../../../assets/img/hurr.png" alt="#"><span>Gastroenterology</span></div></td>
            <td class="tab"><div class="df"><img src="../../../assets/img/hurr.png" alt="#"><span>Urology</span></div></td>
            <td class="tab"><div class="df"><img src="../../../assets/img/hurr.png" alt="#"><span>Dermatology</span></div></td>
            <td class="tab"><div class="df"><img src="../../../assets/img/hurr.png" alt="#"><span>Gynaecology</span></div></td>
        </tr>
    </table>
</div>